ai-chat-(2)-7rIm2GcVVP6IZcg8.json
{"createdAt":"2025-11-12T08:16:16.517Z","updatedAt":"2025-11-18T09:17:12.455Z","id":"7rIm2GcVVP6IZcg8","name":"ai chat (2)","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-256,-144],"id":"bcc0cfc5-7d6e-4683-b0b7-421a237ecfd9","name":"Telegram Trigger","webhookId":"70b5730a-f017-4ea7-bf27-3676066077d8","credentials":{"telegramApi":{"id":"AqptH5FsvIM9OQdl","name":"ENGKH Bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.business_message.text }}","options":{"systemMessage":"=You are the chatbot assistant for Cambodia Children’s Fund (CCF), chatting with users on Telegram.\n\nYour job is to help answer any questions about CCF using the information from the official website: https://www.cambodianchildrensfund.org. Reply clearly and naturally, like a real person would.\n\nIf the user asks for more details or a link, send them the correct page from the website.\n\nIf someone is interested in donating, send them this link:\nhttps://www.cambodianchildrensfund.org/donate\n\nAfter sending donation link, follow up another message saying:\n\"Thanks so much for your support. Would you like me to remind you to donate every month or send you updates about our current campaigns?\" (Send this in a seperate message, like a double text)\n\nFor granny information, get inmformation from this link: https://www.cambodianchildrensfund.org/ways-to-give/granny-sponsorship\n\nLanguage rule:\n\nIf the user writes or sends a voice message in Khmer, reply in Khmer.\n\nIf they use English, reply in English.\n\nYou can also respond to voice messages. Make sure your tone stays friendly, polite, and personal—like you're really here to help. Don’t sound like a robot. Just be supportive and respectful in every message.\n\n#NOTE: Dont't use markdown format"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[16,-144],"id":"aefcb794-bf5e-4642-bfc1-d46db0d19171","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-64,112],"id":"6b42b5bd-016f-4a75-977c-d57017596d52","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"7qqeipyVn4xXLtr3","name":"Google Gemini(PaLM) Api - fundraise@"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7532191669:AAHKbAwiqbvqL9pGqMDzWeYgJXjkSjoNfIw/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger').item.json.business_message.chat.id }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"business_connection_id","value":"={{ $('Telegram Trigger').item.json.business_message.business_connection_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-144],"id":"c42864d3-51d2-425d-8da6-d05c82788487","name":"Send Telegram Message"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.business_message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[176,112],"id":"b115bb22-572c-4dd9-b032-beca30cd760b","name":"Simple Memory"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send Telegram Message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9f710d97-0e69-4a16-b944-1442f08b9719","triggerCount":1,"shared":[{"createdAt":"2025-11-12T08:16:16.517Z","updatedAt":"2025-11-12T08:16:16.517Z","role":"workflow:owner","workflowId":"7rIm2GcVVP6IZcg8","projectId":"slNJhmKXW9YTdcBc","project":{"createdAt":"2025-06-25T12:17:56.327Z","updatedAt":"2025-06-26T02:37:24.101Z","id":"slNJhmKXW9YTdcBc","name":"Sreymai  Phou <sreymai.phou@cambodianchildrensfund.org>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-25T12:17:56.327Z","updatedAt":"2025-06-25T12:17:56.327Z","userId":"acab52a8-c2c2-4078-ab40-794c5bb26525","projectId":"slNJhmKXW9YTdcBc","user":{"createdAt":"2025-06-25T12:17:56.327Z","updatedAt":"2025-11-18T03:14:34.567Z","id":"acab52a8-c2c2-4078-ab40-794c5bb26525","email":"sreymai.phou@cambodianchildrensfund.org","firstName":"Sreymai ","lastName":"Phou","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-26T02:37:53.638Z","personalization_survey_n8n_version":"1.98.2","companyType":"personal","reportedSource":"friend"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"QCcwtekNxziIz3Nt","userActivated":true,"userActivatedAt":1754924436482,"npsSurvey":{"responded":true,"lastShownAt":1751343838387}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-18","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-17T11:57:59.434Z","updatedAt":"2025-11-17T11:57:59.434Z","id":"3Vh6JPzMEYglr0nB","name":"test"}]}