ai-chat-xwd7iWu2tPk5qeTH.json
{"createdAt":"2025-11-12T08:11:57.618Z","updatedAt":"2025-11-19T10:27:33.480Z","id":"xwd7iWu2tPk5qeTH","name":"ai chat","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[592,32],"id":"91066ef5-0d16-4d5d-a839-4e34f1b3785b","name":"Telegram Trigger","webhookId":"70b5730a-f017-4ea7-bf27-3676066077d8","credentials":{"telegramApi":{"id":"AqptH5FsvIM9OQdl","name":"ENGKH Bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.business_message.text }}","options":{"systemMessage":"=You are a friendly and helpful chat assistant for Kroeung Restaurant.\nYour job is to help customers place their food orders through chat.\n\nStart the conversation by greeting them and asking what they’d like to order. Then show them the menu options below:\n\nFried Rice\n\nSweet & Spicy Chicken\n\nBeef Stew\n\nTomyum Soup\n\nFried Fish\n\nThe respond should not be in markwopdn format. Keep your tone polite, clear, and conversational like human texting.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[880,32],"id":"22a44319-9236-45f3-a817-3441b7693c76","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[768,288],"id":"feedebbb-f7dd-4a92-8878-84491af76a5f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"7qqeipyVn4xXLtr3","name":"Google Gemini(PaLM) Api - fundraise@"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot7532191669:AAHKbAwiqbvqL9pGqMDzWeYgJXjkSjoNfIw/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Telegram Trigger').item.json.business_message.chat.id }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"business_connection_id","value":"={{ $('Telegram Trigger').item.json.business_message.business_connection_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,32],"id":"efed66fd-8a43-4110-9885-9504e8bde5df","name":"Send Telegram Message"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[992,256],"id":"5679b9e5-c893-428f-b971-8b3604529f2b","name":"Simple Memory"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send Telegram Message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5f04a031-a1d6-4c59-b287-7b27dda8ed00","triggerCount":1,"shared":[{"createdAt":"2025-11-12T08:11:57.618Z","updatedAt":"2025-11-12T08:11:57.618Z","role":"workflow:owner","workflowId":"xwd7iWu2tPk5qeTH","projectId":"slNJhmKXW9YTdcBc","project":{"createdAt":"2025-06-25T12:17:56.327Z","updatedAt":"2025-06-26T02:37:24.101Z","id":"slNJhmKXW9YTdcBc","name":"Sreymai  Phou <sreymai.phou@cambodianchildrensfund.org>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-06-25T12:17:56.327Z","updatedAt":"2025-06-25T12:17:56.327Z","userId":"acab52a8-c2c2-4078-ab40-794c5bb26525","projectId":"slNJhmKXW9YTdcBc","user":{"createdAt":"2025-06-25T12:17:56.327Z","updatedAt":"2025-11-19T04:42:55.173Z","id":"acab52a8-c2c2-4078-ab40-794c5bb26525","email":"sreymai.phou@cambodianchildrensfund.org","firstName":"Sreymai ","lastName":"Phou","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-26T02:37:53.638Z","personalization_survey_n8n_version":"1.98.2","companyType":"personal","reportedSource":"friend"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"QCcwtekNxziIz3Nt","userActivated":true,"userActivatedAt":1754924436482,"npsSurvey":{"responded":true,"lastShownAt":1751343838387}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-19","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-17T11:57:59.434Z","updatedAt":"2025-11-17T11:57:59.434Z","id":"3Vh6JPzMEYglr0nB","name":"test"}]}